.simple-view-element {
  margin-bottom: .5rem;
  h6 {
    display: inline;
    margin-right: 0.5em;
  }
  div {
    display: inline;
  }
}

.simple-view-element-header {
  font-weight: bold;
}

.not-inline-label {
  h6 {
    display: block;
    margin-right: 0;
  }
  div {
    display: block;
  }
}
