<form #form="ngForm" (ngSubmit)="onSubmit(value)"
  [action]="action" (keydown)="onKeydown($event)"
  (keydown.arrowdown)="shiftFocusDown($event)"
  (keydown.arrowup)="shiftFocusUp($event)" (keydown.esc)="close()"
  (dsClickOutside)="close();">
  <div class="mb-3 mb-0">
    <ng-container *ngTemplateOutlet="searchInput"></ng-container> <!-- Esta es la búsqueda por tipo -->
    <i class="fas fa-search search-icon"></i>
  </div>
  <ng-template #searchInput>
    <input #inputField type="text" [(ngModel)]="value" [name]="name"
      class="search-input"
      [ngClass]="{'is-invalid': !valid}"
      [dsDebounce]="debounceTime" (onDebounce)="find($event)"
      [ngModelOptions]="{standalone: true}" autocomplete="off"
      />
  </ng-template>
  <button class="sr-only" type="submit">
    {{'search.filters.search.submit' | translate}}
  </button>
  <div class="autocomplete dropdown-menu" [ngClass]="{'show': (show | async) && isNotEmpty(suggestions)}">
    <div class="dropdown-list">
      @for (suggestionOption of suggestions; track suggestionOption) {
        <div>
          <a href="javascript:void(0);" class="d-block dropdown-item"  (click)="onClickSuggestion(suggestionOption)" #suggestion>
            <span [innerHTML]="suggestionOption.displayValue"></span>
          </a>
        </div>
      }
    </div>
  </div>
</form>
