.custom-row{
  margin-left: 12px;
  padding: 1.4rem;
  margin-right: 12px;
  background-color: #fff;
  box-shadow: 0 8px 8px #0000001a;
}

.community-list-title {
  font-family: serif;
  font-size: 1.65rem;
  color: black;
  line-height: 38px;
}