// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.container {
  @media screen and (min-width: 1200px) and (max-width: 1499px) {
    max-width: 90%;
  }

  @media screen and (min-width: 1500px) {
    max-width: 1400px;
  }
}

.filter-count {
    color: #6c757df7 !important; 
    font-size: 0.9em !important;
}