// Override or add CSS variables for your theme here

:root {
  //--ds-header-logo-height: 80px;
  //--ds-header-logo-height-xs: 50px;
  //--ds-header-icon-color: #{$link-color};
  //--ds-header-icon-color-hover: #{darken($link-color, 15%)};
  --sedici-color: #{$sedici-color} !important;

  --ds-breadcrumb-bg: #{$white} !important;
  --ds-breadcrumb-max-length: 500px;
  --ds-breadcrumb-max-length-mobile: 300px;

  --font-weight-thin: #{$font-weight-thin} !important;
  --font-weight-light: #{$font-weight-light} !important;
  --font-weight-regular: #{$font-weight-regular} !important;
  --font-weight-bold: #{$font-weight-bold} !important;

  --ds-sidebar-z-index: 1022;

  --ds-comcol-logo-max-width: 300px;
  --ds-comcol-logo-max-height: 200px;
}
