:host ::ng-deep {
  --ds-wrapper-grid-spacing: calc(var(--bs-spacer) / 2);

  .card{
    border-color: transparent !important;
  }

  div.card {
    margin-top: var(--ds-wrapper-grid-spacing);
    margin-bottom: var(--ds-wrapper-grid-spacing);

    div.thumbnail > .thumbnail-content {
      height: var(--ds-card-thumbnail-height);
      width: 100%;
      display: block;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: 50% 15%;
    }
  }
}

.card-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0px 10px 20px 10px;

  .card-element {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: white;

    &:hover {
      transform: translateY(-4px);
    }

    .card.custom-card-style {
      display: block;
      height: 100%;
    }
  }

}

@media (max-width: 768px) {
  .card-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .card-columns {
    grid-template-columns: 1fr;
  }
}

