.badge {
  white-space: inherit;
  font-size: 90%;
  font-weight: 510;
  color: #000000d1;
  border: 1.8px solid rgb(0 0 0 / 30%);
  border-radius: 8px;
  padding: 0.8rem;
  background-color: white;
}
