:host {

  #main-site-header {
    padding-top: .5rem;

    @media (max-width: 767px) {
      border-bottom: 0px;
      padding: 10px;
    }

    img#header-logo {
      height: auto;
      max-height: 60px;

      @media (min-width: 768px) {
        width: 25vw;
        max-width: 360px;
        min-width: 170px;
      }

      @media (max-width: 767px) {
        height: 45px; 
        width: auto;
      }
    }
  }

  // Comento hasta saber si cambia el comportamento
  // :host-context(:has(.sidebar-full-width-container)) #main-site-header {
  //   left: var(--ds-admin-sidebar-fixed-element-width);
  // }

  .background-image-header {
    background-image: url('/assets/custom/images/Fondo_home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    ::ng-deep ds-navbar #main-navbar {
      background: transparent;

      ::ng-deep ds-navbar-section a, 
      ::ng-deep ds-expandable-navbar-section span, 
      ::ng-deep ds-expandable-navbar-section .ds-menu-toggler-wrapper, 
      ::ng-deep ds-auth-nav-menu button, 
      ::ng-deep ds-lang-switch a {
        color: white;
        font-size: 1rem;

        @media screen and (min-width: 768px) and (max-width: 1300px) {
          font-size: clamp(0.6rem, 1vw, 1rem);
        }

        &:hover, &:focus {
          color: var(--sedici-color);
        }
      }
    }

    .toggler-icon {
      color: white;
    }
  }

  @media (min-width: 768px) {
    .home-header {
      background: transparent !important;
      z-index: 1020 !important;
      border-bottom: none !important;
      left: 0 !important;
      right: 0 !important;
      top: 0;

      img#header-logo {
        height: auto;
      }
    }
  }

  img#header-logo {
    @media print {
      display: none;
    }
  }
  
  header {
    background-color: var(--ds-header-bg);
  }

  .navbar-brand {
    margin-right: 0px;
    padding: 0px;
  }

  .padding-logo {
    padding: 1rem 0rem 1rem 2.8vw;
    margin-right: 10px;

    @media (min-width: 768px) and (max-width: 1400px) {
      padding-left: clamp(10px, 1vw, 30px);
    }
  }

  #navbar-toggler {
    border: none;
    box-shadow: none;
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
    }

    .toggler-icon {
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5;
    }
  }

  .navbar {
    display: flex;
    flex-grow: 1;
    gap: 4%;
    align-items: center;
    margin-right: 20px;
  }

  .left-container {
    display: flex;
  }

  .right-container-mobile {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 0 0 0.5rem;
    flex-basis: 100%;

    ds-search-navbar {
      width: 100%;
    }
  }

  .right-container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-basis: 100%;

    ds-search-navbar {
      width: 60%;

      @media (max-width: 1300px) {
        width: 45%;

      }
    }

    @media print {
      display: none !important;
    }
  }

  .right-container-mobile {
    @media print {
      display: none !important;
    }
  }

  ::ng-deep ds-navbar .container{
    max-width: 100%;
  }

  ::ng-deep ds-navbar ds-lang-switch .dropdown-item{
    padding: 0.25rem;
  }
}
