<header id="main-site-header" class="background-image-header" 
  [ngClass]="{
    'home-header': (isHomePage$ | async),
    'fixed-header': ((isSubmissionPage$ | async) !== true) && ((isHomePage$ | async) !== true)
  }">
  <!-- Vista Desktop -->
    <div class="d-none d-md-flex align-items-center" id="main-site-header-container">
      <div class="left-container padding-logo"> 
        <a routerLink="/home">
          <img id="header-logo" [src]="'assets/custom/images/LogoSEDICI.svg'" [attr.alt]="'menu.header.image.logo' | translate"/>
        </a>
      </div>
      <div class="center-container">
        @if ((isHomePage$ | async) !== true) {
          <ds-themed-search-form [searchPlaceholder]="'home.page.search.placeholder' | translate:{totalItems: totalItems}" [variant]="'navbar'"></ds-themed-search-form>
        }
      </div>
      <div class="right-container">
        <ds-navbar></ds-navbar>
      </div>
    </div>

  <!-- Vista Mobile -->
    <div class="d-flex align-items-center d-md-none" id="main-site-header-container">
      <div class="left-container-mobile">
        <a routerLink="/home">
          <img id="header-logo" [src]="'assets/custom/images/SEDICI_2024_mobile.svg'" [attr.alt]="'menu.header.image.logo' | translate"/>
        </a>
      </div>
      <div class="right-container-mobile">
        <ds-search-navbar></ds-search-navbar>
        <div id="mobile-navbar-toggler" class="d-block d-lg-none">
          <button id="navbar-toggler" class="btn p-0 ms-2" type="button" (click)="toggleNavbar()"
            [attr.aria-label]="'nav.toggle' | translate" aria-controls="collapsible-mobile-navbar"
            [attr.aria-expanded]="(isNavBarCollapsed$ | async) !== true">
            <span class="fas fa-bars fa-fw fa-xl toggler-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
</header>