<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
  <div class="search-form">
    <div [ngClass]="{
        'input-group': variant === 'home' || variant === 'navbar',
        'search-bar-container': variant === 'community'
      }">
      <input type="text" [(ngModel)]="query" name="query" [class]="'form-control form-control--' + variant"
      [attr.aria-label]="searchPlaceholder" [attr.data-test]="'search-box' | dsBrowserOnly"
      [placeholder]="searchPlaceholder">
      <button type="submit" [class]="'search-button--' + variant" [attr.data-test]="'search-button' | dsBrowserOnly">
        <i class="fas fa-search"></i>
      </button>
    </div>
    @if (showScopeSelector) {
      <div class="input-group-prepend">
        <button class="scope-button btn btn-outline-secondary text-truncate"
          [ngbTooltip]="dsoNameService.getName(selectedScope | async)" type="button"
          (click)="openScopeModal()">
          {{dsoNameService.getName(selectedScope | async) || ('search.form.scope.all' | translate)}}
        </button>
      </div>
    }
  </div>
</form>
