.search-button--home {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4a90e2;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    z-index: 10;
    border-color: transparent;

    i {
      color: #fff !important;
      font-size: 1.2rem !important;
    }
}

.form-control {
  background-color: rgba(0, 0, 0, 0.2); // Fondo negro con transparencia
  border: none;
  box-shadow: none; 
  font-size: 1.7rem;
  font-style: italic;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    border-radius: 25px !important;
    border: 1px solid #e0e0e0 !important;
    -webkit-text-fill-color: inherit !important;
    caret-color: inherit !important;
  }

}

.search-bar-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;

  @media screen and (max-width: 768px) {
    margin-bottom: 1.2rem;
  }
}

.search-button--community {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  z-index: 2;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.form-control--community {
  border-radius: 10px;
  padding: 10px 0px 10px 20px;
  font-size: 14px;
  height: auto;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

