@if (active$ | async) {
  <div class="facet-filter d-block mb-3 p-3"
    [id]="regionId" [attr.aria-labelledby]="toggleId" [ngClass]="{ 'focus': focusBox }" role="region">
    <button (click)="toggle()" (focusin)="focusBox = true" (focusout)="focusBox = false"
      class="filter-name d-flex" [attr.aria-controls]="regionId" [id]="toggleId"
      [attr.aria-expanded]="(collapsed$ | async) !== true"
      [attr.aria-label]="(((collapsed$ | async) ? 'search.filters.filter.expand' : 'search.filters.filter.collapse') | translate) + ' ' + (('search.filters.filter.' + filter.name + '.head') | translate | lowercase)"
      [attr.data-test]="'filter-toggle' | dsBrowserOnly"
      role="button"
      tabindex="0"
      >
      @switch (filter.name) {
        @case ('itemtype') {
          <i class="fa-solid fa-tag facet-icon" aria-hidden="true"></i>
        }
        @case ('itemsubtype') {
          <i class="fa-solid fa-tag facet-icon" aria-hidden="true"></i>
        }
        @case ('dateIssued') {
          <i class="fa-regular fa-calendar facet-icon" aria-hidden="true"></i>
        }
        @case ('author') {
          <i class="fa-regular fa-user facet-icon" aria-hidden="true"></i>
        }
        @case ('subject') {
          <i class="fa-solid fa-tags facet-icon" aria-hidden="true"></i>
        }
        @case ('discoverable') {
          <i class="fa-regular fa-eye facet-icon" aria-hidden="true"></i>
        }
        @case ('withdrawn') {
          <i class="fa-solid fa-box-archive facet-icon" aria-hidden="true"></i>
        }
        @case ('has_content_in_original_bundle') {
          <i class="fa-solid fa-file-circle-check facet-icon" aria-hidden="true"></i>
        }
        @case ('namedresourcetype') {
          <i class="fa-solid fa-diagram-project facet-icon" aria-hidden="true"></i>
        }
        @case ('location.coll') {
          <i class="fa-regular fa-folder-open facet-icon" aria-hidden="true"></i>
        }
        @case ('submitter') {
          <i class="fa-regular fa-user facet-icon" aria-hidden="true"></i>
        }
        @default {
          <i class="fa-solid fa-tag facet-icon" aria-hidden="true"></i>
        }
      }
      <span class="h4 d-inline-block filter-name-text">
        {{'search.filters.filter.' + filter.name + '.head'| translate}}
      </span>
      <i class="filter-toggle flex-grow-1 fas p-auto"
        aria-hidden="true"
        [ngClass]="(collapsed$ | async) ? 'fa-chevron-right' : 'fa-chevron-down'"
        [title]="((collapsed$ | async) ? 'search.filters.filter.expand' : 'search.filters.filter.collapse') | translate">
      </i>
    </button>
    <div [@slide]="(collapsed$ | async) ? 'collapsed' : 'expanded'"
      (@slide.start)="startSlide($event)" (@slide.done)="finishSlide($event)"
      class="search-filter-wrapper" [ngClass]="{ 'closed' : closed, 'notab': notab }">
      <ds-search-facet-filter-wrapper
        [scope]="scope"
        [filterConfig]="filter"
        [inPlaceSearch]="inPlaceSearch"
        [refreshFilters]="refreshFilters">
      </ds-search-facet-filter-wrapper>
    </div>
  </div>
}
