.badge-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .badge {
    font-weight: var(--font-weight-regular);
  }
}

:host ::ng-deep .badge {
  font-size: 1.1667em;
  font-weight: var(--font-weight-regular);
}