.badge-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .year {
    font-weight: var(--font-weight-regular);
    font-size: 1.66667em;
  }
}

:host ::ng-deep .badge {
  font-size: 1.16667em;
  font-weight: var(--font-weight-regular);
  padding: .5em;
}