.badge-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
  .context-info,
  .context-year {
    font-size: 12px;
    position: relative;
    &:hover::after {
      content: '';
      position: absolute;
      left: 1.5%;
      right: 1.5%;
      bottom: 0;
      height: 2px;
      background-color: #8d8d8d;
    }
  }

  .context-info {
    color: #8d8d8d;
    margin-left: 5px;
  }

  .context-year {
    color: #4a90e2;
    margin-left: 5px;
  }
}