<div class="content-container row">
  <div class="file-list col-lg-4 col-12">
    <div *ngFor="let file of files" class="file-item row" (click)="selectFile(file)">
      <div class="file-icon col-1" [ngStyle]="getBadgeStyle(file.name)">
        <span class="file-extension">{{ getFileExtension(file.name) }}</span>
      </div>
      <div class="file-info col-11">
        <div class="row">
          <span class="file-name col-8">{{ getFileDescription(file) }}</span>
          <div class="col-4">
            <ds-sedici-file-download-link [bitstream]="file" [item]="object"></ds-sedici-file-download-link>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="file-preview col-lg-8 col-12">
    <div *ngIf="selectedFile; else noPreview">
      <ng-container *ngIf="isImage(selectedFile); else fileName">
        <div *ngIf="previewUrl; else noImagePreview">
          <img  class="preview-image" [src]="previewUrl" alt="{{ dsoNameService.getName(selectedFile) }}">
        </div>
        <ng-template #noImagePreview>
          <span class="no-preview">SOY UNA IMAGEN {{ dsoNameService.getName(selectedFile) }}</span>
        </ng-template>
      </ng-container>
      <ng-template #fileName>
        <!-- <span class="preview-title">{{ dsoNameService.getName(selectedFile) }}</span> -->
        <span class="no-preview">{{ dsoNameService.getName(selectedFile) }}</span>
      </ng-template>
    </div>
    <ng-template #noPreview>
      <div class="no-preview">
        <span>preview</span>
      </div>
    </ng-template>
  </div>
</div>