.content-container {
  padding-left: 0px;
  padding-right: 0px;

  .file-list {
    flex: 1;
    display: flex;
    flex-direction: column;

    .file-item.row {
      ::ng-deep .download-btn {
        @media screen and (min-width: map-get($grid-breakpoints, xl)) {
          font-size: 0.875rem;
          width: 90%;
        }
      }
    }
  }

  .file-preview {
    position: sticky;
    top: 100px;
    padding-right: 0px;
    padding-left: 0px;

    .content-preview-wrapper {
      min-height: 85vh;
      
      .sticky-download {
        position: absolute;
        bottom: 50px;
        right: 20px;
        left: auto;
        width: auto;
        z-index: 100;
        
        ::ng-deep ds-sedici-file-download-link {
          display: block;
          
          .download-btn {
            padding: 0;
            background: none;
            border: none;
            overflow: visible;
            box-shadow: 0 3px 6px rgba(0,0,0,0.2);
            border-radius: 30px;
            
            .svg-container {
              position: relative;
              width: 60px;
              height: 60px;
              transition: all 0.3s ease;
            }
            
            .svg-circle {
              position: absolute;
              top: 0;
              right: 0;
              opacity: 1;
              transition: opacity 0.3s ease;
            }
            
            .svg-expanded {
              position: absolute;
              top: 0;
              right: 0;
              opacity: 0;
              pointer-events: none;
              transform: translateX(0);
              transition: all 0.3s ease;
            }
          }
          
          &:hover .download-btn {
            .svg-container {
              width: 180px;
            }
            
            .svg-circle {
              opacity: 0;
            }
            
            .svg-expanded {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .no-preview {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    background-color: #f5f5f5;

    span {
      font-size: 1.5rem;
      color: #aaa;
    }
  }
}

.row {
  align-items: flex-start;
}

.selected-file .file-item{
  background-color: #aaaaaa85;
}

.file-item {
  align-items: center;
  padding: .5rem;

  &:hover {
    background-color: #cccccc96;
  }

  .file-icon {
    display: flex;
    justify-content: center;
  }

  .file-name {
    font-size: 0.86rem;
    overflow: hidden; // Oculta el texto que se desborda
    text-overflow: ellipsis; // Agrega puntos suspensivos al texto que se desborda
    display: -webkit-box; // Necesario para line-clamp
    -webkit-box-orient: vertical; // Necesario para line-clamp
    -webkit-line-clamp: 2; // Limita el texto a 2 líneas
    line-clamp: 2; // Limita el texto a 2 líneas
    word-break: break-word;
  }

  .text-no-preview-available {
    font-style: italic;
    font-weight: 100;
  }

  .download-button{
    padding: 0px;
  }
}

.share-button{
  padding: 0px;
}

.header-template {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .file-name-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .button-container {
    display: flex;
    gap: 1rem;

    button,
    ds-sedici-file-download-link {
      flex: 1 100%;

      @media screen and (max-width: 768px) {
        flex: 1;
        width: 80%;
        padding: 0px;
      }
    
    }

    ::ng-deep .download-btn {
      padding: .75rem;
    }
  }
}

// En caso de no tener preview, le cambio la manito al pasar el mouse
.file-no-preview-available .file-item {
  cursor: not-allowed;
}

.preview-image {
  max-width: 85vh;
  max-height: 85vh;

  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    width: 100%;
    height: 100%;
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.loading-spinner {
  font-size: 2rem;
  color: #333;
}

ul {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;

  li {
    margin: 5px 0;
  }
  
  i {
    margin-right: 8px;
  }
}

::ng-deep .fullscreen-modal .modal-dialog {
  margin: 0;
  max-width: 100%;
}

::ng-deep .fullscreen-modal .modal-body {
  padding: 0;
}

::ng-deep .fullscreen-modal .sticky-download {
  display: none; // Oculto el sticky-download solo dentro del modal
}

// Versión con botón de preview
.preview-btn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
  font-size: .625rem;
  width: 60px;

  &:hover {
    background-color: #666;
  }
}

.video-wrapper {
  width: 100%;
  height: 85vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    height: 40vh;
  }
}

.single-image-viewer-container {
  display: block;
  height: 85vh;
  width: 100%;

  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    height: 40vh;
  }

  .osd-container {
    width: 100%;
    height: 100%;
    background-color: #000;
  }
}