<div *ngIf="!isLoadingFiles; else loadingFiles">
  <div class="content-container" *ngIf="files.length > 0; else noFile">
    <div *ngIf="files.length !== 1; else oneFile" >
      <div *ngIf="hasPreviewAndDownloadableFiles(); else noPreviewAndDownloadableFiles" class="row">
        <div class="file-list col-lg-3 col-12">
          <div *ngFor="let file of files" (click)="isPreviewAvailable(file.name) && file.canDownload && handleClick(file, contentTemplate, headerTemplate)" [ngClass]="{'selected-file': file === selectedFile}">          
            <ng-container *ngIf="isPreviewAvailable(file.name) && file.canDownload; else applyNoPreviewTemplate">
              <div class="file-item row">
                <div class="file-icon col-1">
                  <img [src]="getIconPath(file.name)" alt="File icon"/>
                </div>
                <div class="col-8">
                  <span class="file-name">{{ getFileDescription(file) }}</span>
                </div>
                <div class="col-3 download-button">
                  <!-- <div *ngIf="isMobile">
                    <button class="preview-btn" (click)="handleClick(file, contentTemplate, headerTemplate)">
                      <span class="pr-1">
                        <i class="fa-solid fa-eye"></i>
                      </span>
                      <span>Preview</span>
                    </button>
                  </div> -->
                  <ds-sedici-file-download-link [bitstream]="file" [item]="object"></ds-sedici-file-download-link>
                </div>
              </div>
            </ng-container>
            
            <ng-template #applyNoPreviewTemplate>
              <ng-container *ngTemplateOutlet="noPreviewAvailable; context: { file: file }"></ng-container>
            </ng-template>

            <ng-template #headerTemplate>
              <div class="header-template">
                <div class="file-name-container">
                  <span class="file-name">{{ getFileDescription(file) }}</span>
                </div>
                <div class="button-container">
                  <ds-sedici-file-download-link [bitstream]="file" [item]="object" [isSticky]="true"></ds-sedici-file-download-link>
                  <button class="btn" (click)="openModalShareButtons()">
                    <i class="fa-solid fa-share"></i>
                    <span> Compartir</span>
                  </button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      
        <div class="file-preview d-none d-lg-block col-lg-9">
          <div *ngIf="selectedFile; else noPreview">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
          </div>
          <ng-template #noPreview>
            <div class="no-preview">
              <span>ZONA DE PREVIEW</span>
            </div>
          </ng-template>
        </div>
      </div>

      <ng-template #noPreviewAndDownloadableFiles>
        <div class="col-12">
          <div *ngFor="let file of files">
            <ng-container *ngTemplateOutlet="noPreviewAvailable; context: { file: file }"></ng-container>
          </div>
        </div>
      </ng-template>
    </div>

    <ng-template #oneFile>
      <div *ngIf="selectedFile; else noPreviewInOneFile">
        <ng-container *ngIf="isPreviewAvailable(selectedFile.name); else applyNoPreviewTemplateOne">
          <div *ngIf="isDownloadable(selectedFile); else applyEmbargoedTemplateOne">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
          </div>
        </ng-container>
        
        <ng-template #applyNoPreviewTemplateOne>
          <ng-container *ngTemplateOutlet="noPreviewAvailable; context: { file: selectedFile }"></ng-container>
        </ng-template>

        <ng-template #applyEmbargoedTemplateOne>
          <ng-container *ngTemplateOutlet="noPreviewAvailable; context: { file: selectedFile }"></ng-container>
        </ng-template>
      </div>
      
      <ng-template #noPreviewInOneFile>
        <div class="no-preview">
          <span>ZONA DE PREVIEW</span>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #noPreviewAvailable let-file="file">
      <div class="file-no-preview-available">
        <div class="file-item row">
          <div class="file-icon col-1">
            <img [src]="getIconPath(file.name)" alt="File icon"/>
          </div>
          <div class="col-8">
            <span class="file-name">{{ getFileDescription(file) }}</span>
            <span class="text-no-preview-available">
              <i class="fa-solid fa-eye-slash"></i>
              Preview no disponible
            </span>
          </div>
          <div class="col-3 download-button">
            <ds-sedici-file-download-link [bitstream]="file" [item]="object"></ds-sedici-file-download-link>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #contentTemplate>
      <div class="content-preview-wrapper">        
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="getFileExtension(selectedFile.name) === 'pdf'">
            <ng-container *ngTemplateOutlet="pdfTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="isImageFile(getFileExtension(selectedFile.name))">
            <ng-container *ngTemplateOutlet="imageTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="getFileExtension(selectedFile.name) === 'zip'">
            <ng-container *ngTemplateOutlet="zipTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="fa fa-file">
              {{ dsoNameService.getName(selectedFile) }}
            </div>
          </ng-container>
        </ng-container>

        <!-- Sticky download button -->
        <!-- <div *ngIf="!isMobile" class="sticky-download"> -->
        <div class="sticky-download">
          <ds-sedici-file-download-link [bitstream]="selectedFile" [item]="object" [isSticky]="true"></ds-sedici-file-download-link>
        </div>
      </div>
    </ng-template>

    <ng-template #pdfTemplate>
      <div *ngIf="isLoading" class="loading-overlay">
        <i class="fa-solid fa-spinner fa-spin-pulse loading-spinner"></i>
      </div>
      <div style="width: 100%; height: 90vh;">
        <ng2-pdfjs-viewer
          #pdfViewerOnDemand
          [pdfSrc]="previewUrl"
          [openFile]="false"
          [viewBookmark]="false"
          [pagemode]="'none'"
          zoom = "page-width"
          (onDocumentLoad)="onDocLoaded()">
        </ng2-pdfjs-viewer>
      </div>
    </ng-template>
    
    <ng-template #imageTemplate>
      <div style="display: flex; justify-content: center;">
        <img class="preview-image" [src]="previewUrl" alt="{{ dsoNameService.getName(selectedFile) }}">
      </div>
    </ng-template>
    
    <ng-template #zipTemplate>
      <h3>{{selectedFile.name}}:</h3>
      <ul>
        <ng-container *ngTemplateOutlet="renderTree; context: { tree: zipContentTree }"></ng-container>
      </ul>
      <ng-template #renderTree let-tree="tree">
        <ul>
          <li *ngFor="let key of objectKeys(tree || {})">
            <ng-container *ngIf="isFolder(tree[key]); else fileTemplate">
              <i class="fa fa-folder"></i> {{ key }}
              <ng-container *ngTemplateOutlet="renderTree; context: { tree: tree[key] }"></ng-container>
            </ng-container>
            <ng-template #fileTemplate>
              <ng-container [ngSwitch]="getFileExtension(key)">
                <i *ngSwitchCase="'pdf'" class="fa fa-file-pdf"></i>
                <i *ngSwitchCase="'doc'" class="fa fa-file-word"></i>
                <i *ngSwitchCase="'docx'" class="fa fa-file-word"></i>
                <i *ngSwitchCase="'csv'" class="fa fa-file-csv"></i>
                <i *ngSwitchCase="'jpg'" class="fa fa-file-image"></i>
                <i *ngSwitchCase="'jpeg'" class="fa fa-file-image"></i>
                <i *ngSwitchCase="'png'" class="fa fa-file-image"></i>
                <i *ngSwitchDefault class="fa fa-file"></i>
              </ng-container>
              {{ key }}
            </ng-template>
          </li>
        </ul>
      </ng-template>
    </ng-template>
  </div>
  
  <ng-template #noFile>
    Lamentablemente el ítem seleccionado no tiene archivos para ver/descargar. Si lo desea, puede contactar directamente con el autor. En caso de ser el autor, es bienvenido a subir los archivos correspondientes para así poder completar el registro.
  </ng-template>
  
</div>

<ng-template #loadingFiles>
  Cargando archivos...
</ng-template>