<div *ngIf="!isLoadingFiles; else loadingFiles">
  <div class="content-container" *ngIf="files.length > 0; else noFile">
    <div *ngIf="files.length !== 1; else oneFile" class="row">
      <div class="file-list col-lg-3 col-12">
        <div *ngFor="let file of files" class="file-item row" (click)="isMobile ? openModal(contentTemplate, headerTemplate) : null" (click)="(selectedFile !== file) ? selectFile(file) : null" [ngClass]="{'selected-file': file === selectedFile}">
          <div class="file-icon col-1" [ngStyle]="getBadgeStyle(file.name)">
            <span class="file-extension">{{ getFileExtension(file.name) }}</span>
          </div>
          <div class="col-lg-8 col-11">
            <span class="file-name">{{ getFileDescription(file) }}</span>
          </div>
          <div class="col-lg-3 col-3 download-button d-none d-lg-block">
            <ds-sedici-file-download-link [bitstream]="file" [item]="object"></ds-sedici-file-download-link>
          </div>
          <ng-template #headerTemplate>
            <ds-sedici-file-download-link [bitstream]="file" [item]="object" [isSticky]="true"></ds-sedici-file-download-link>
          </ng-template>
        </div>
      </div>
    

      <div class="file-preview d-none d-lg-block col-lg-9">
        <div *ngIf="selectedFile; else noPreview">
          <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
        <ng-template #noPreview>
          <div class="no-preview">
            <span>ZONA DE PREVIEW</span>
          </div>
        </ng-template>
      </div>
    </div>

    <ng-template #oneFile>
      <div *ngIf="selectedFile; else noPreview">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
      <ng-template #noPreview>
        <div class="no-preview">
          <span>ZONA DE PREVIEW</span>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #contentTemplate>
      <div class="content-preview-wrapper">
        <!-- Sticky download button -->
        <div *ngIf="!isMobile" class="sticky-download">
          <ds-sedici-file-download-link [bitstream]="selectedFile" [item]="object" [isSticky]="true"></ds-sedici-file-download-link>
        </div>
        
        <ng-container [ngSwitch]="getFileExtension(selectedFile.name)">
          <ng-container *ngSwitchCase="'pdf'">
            <ng-container *ngTemplateOutlet="pdfTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'jpg'">
            <ng-container *ngTemplateOutlet="imageTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'zip'">
            <ng-container *ngTemplateOutlet="zipTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="fa fa-file">
              {{ dsoNameService.getName(selectedFile) }}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-template>

    <ng-template #pdfTemplate>
      <div *ngIf="isLoading" class="loading-overlay">
        <i class="fa-solid fa-spinner fa-spin-pulse loading-spinner"></i>
      </div>
      <div style="width: 100%; height: 90vh;">
        <ng2-pdfjs-viewer
          #pdfViewerOnDemand
          [pdfSrc]="previewUrl"
          [openFile]="false"
          zoom = "page-width"
          (onDocumentLoad)="onDocLoaded()">
        </ng2-pdfjs-viewer>
      </div>
    </ng-template>
    
    <ng-template #imageTemplate>
      <img class="preview-image" [src]="previewUrl" alt="{{ dsoNameService.getName(selectedFile) }}">
    </ng-template>
    
    <ng-template #zipTemplate>
      <h3>{{selectedFile.name}}:</h3>
      <ul>
        <ng-container *ngTemplateOutlet="renderTree; context: { tree: zipContentTree }"></ng-container>
      </ul>
      <ng-template #renderTree let-tree="tree">
        <ul>
          <li *ngFor="let key of objectKeys(tree || {})">
            <ng-container *ngIf="isFolder(tree[key]); else fileTemplate">
              <i class="fa fa-folder"></i> {{ key }}
              <ng-container *ngTemplateOutlet="renderTree; context: { tree: tree[key] }"></ng-container>
            </ng-container>
            <ng-template #fileTemplate>
              <ng-container [ngSwitch]="getFileExtension(key)">
                <i *ngSwitchCase="'pdf'" class="fa fa-file-pdf"></i>
                <i *ngSwitchCase="'doc'" class="fa fa-file-word"></i>
                <i *ngSwitchCase="'docx'" class="fa fa-file-word"></i>
                <i *ngSwitchCase="'csv'" class="fa fa-file-csv"></i>
                <i *ngSwitchCase="'jpg'" class="fa fa-file-image"></i>
                <i *ngSwitchCase="'jpeg'" class="fa fa-file-image"></i>
                <i *ngSwitchCase="'png'" class="fa fa-file-image"></i>
                <i *ngSwitchDefault class="fa fa-file"></i>
              </ng-container>
              {{ key }}
            </ng-template>
          </li>
        </ul>
      </ng-template>
    </ng-template>
  </div>
  
  <ng-template #noFile>
    Lamentablemente el ítem seleccionado no tiene archivos para ver/descargar. Si lo desea, puede contactar directamente con el autor. En caso de ser el autor, es bienvenido a subir los archivos correspondientes para así poder completar el registro.
  </ng-template>
  
</div>

<ng-template #loadingFiles>
  Cargando archivos...
</ng-template>