<div class="table-responsive">
  <table class="table">
    <tbody>
      @for (row of metadataRows; track row) {
        @for (value of row.values; track value) {
          <tr>
            <td class="label">{{ row.label | translate }}</td>
            <td>{{ value }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
<ds-item-page-collections [item]="object"></ds-item-page-collections>

<div>
  <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
    <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
  </a>
</div>