::ng-deep ds-sedici-date-metadata-values,
::ng-deep ds-generic-item-page-field,
::ng-deep ds-sedici-language-metadata-values,
::ng-deep ds-item-page-identifier-other-field,
::ng-deep ds-item-page-collections {
  h6 {
    font-size: 1.3333em;
    font-weight: var(--font-weight-bold);
  }

  span, a {
    font-size: 1.1667em;
    font-weight: var(--font-weight-thin);
  }
}