<div class="language-switcher-wrapper">
  <div class="language-switcher-container">
    <ds-truncatable [id]="item?.id + 'abstract'">
      <ds-truncatable-part [id]="item?.id + 'abstract'" [minLines]="6">
        <span class="abstract-text" [innerHTML]="getAbstract()"></span>
      </ds-truncatable-part>
    </ds-truncatable>
  </div>
  @if (availableLanguages.length > 1) {
    <div class="language-sidebar">
      @for (language of availableLanguages; track language) {
        <button
          (click)="changeLanguage(language)"
          [class.active]="language === selectedLanguage">
          {{ language.toUpperCase() }}
        </button>
      }
    </div>
  }
</div>