.language-switcher-wrapper {
  padding-bottom: 1rem;
  font-size: 1.25em;

  @media screen and (min-width: 769px) {
    display: flex;
  }
}

.language-sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem 0px;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    padding: 0px 1rem;
  }
}

.language-sidebar button {
  width: 40px;
  margin-right: -40px;
  background-color: #ffffff;
  border: none;
  color: #666666;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
  opacity: .5;

  @media screen and (max-width: 768px) {
    margin-right: 0px;
  }
}

.language-sidebar button.active {
  border: 1px solid #e0e0e0;
  color: #333333;
  font-weight: bold;
  border-bottom-right-radius: 4px;
  opacity: 1;

  @media screen and (min-width: 769px) {
    border-left: none;
    border-top-right-radius: 4px;
  }

  @media screen and (max-width: 768px) {
    border-top: none;
    border-bottom-left-radius: 4px;
  }
}


::ng-deep .content{
  text-align: justify;
}


.abstract-text {
  font-weight: var(--font-weight-regular);
  white-space: pre-wrap;
  font-size: 0.97rem;
  //text-align: justify;
}

.no-abstract {
  color: #413f3f;
  font-size: 14px;
  font-style: italic;
}

.info-icon {
    color: #706f6f;
    margin-right: 4px;
}

::ng-deep .language-switcher-wrapper ds-truncatable-part .collapseButton,
::ng-deep .language-switcher-wrapper ds-truncatable-part .expandButton {
  margin-left: auto;
  margin-right: 0;
  display: block;
}