a {
  text-decoration: none;
}

.download-btn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
  font-size: .625rem;
  width: 60px;

  &:hover {
    background-color: #666;
  }
}

.sticky-button {
  .download-btn {
    display: flex;
    justify-content: center;
    border-radius: 0px;
    padding: 1rem;
    font-size: 0.875rem;
    align-items: center;
    gap: 8px;
    width: 100%;
    
    .fas {
      font-size: 1em;
      margin-right: .625rem;
    }

    p {
      margin-bottom: 0px;
    }
  }
}