<a [routerLink]="(bitstreamPath$ | async)?.routerLink" [queryParams]="(bitstreamPath$ | async)?.queryParams" [target]="isBlank ? '_blank' : '_self'" [ngClass]="cssClasses">
  @if (isSticky !== true) {
    <div>
      <button class="download-btn" placement="left" [ngbTooltip]="'item.page.filesection.download' | translate">
        @if ((canDownload$ | async) !== true) {
          <span role="img" [attr.aria-label]="'file-download-link.restricted' | translate" class="pr-1">
            <i class="fas fa-lock"></i>
          </span>
        } @else {
          <span role="img" [attr.aria-label]="'file-download-link.download' | translate" class="pr-1">
            <i class="fas fa-download"></i>
          </span>
        }
        {{ adaptFileSize((bitstream?.sizeBytes) | dsFileSize:0) }}
      </button>
    </div>
  } @else {
    <div class="sticky-button">
      <button class="download-btn">
        @if (isMobile) {
          <div class="download-content">
            <span role="img" [attr.aria-label]="'file-download-link.download' | translate">
              <i class="fas fa-download"></i>
            </span>
            <span>Descargar ({{ adaptFileSize((bitstream?.sizeBytes) | dsFileSize:0) }})</span>
          </div>
        }
        @if (!isMobile) {
          <div class="svg-container">
            <!-- SVG circular (estado inicial) -->
            <div class="svg-circle">
              <img [src]="'assets/custom/images/DescargarOff.svg'"/>
            </div>
            <!-- SVG expandido (estado hover) -->
            <div class="svg-expanded">
              <img [src]="'assets/custom/images/DescargarHover.svg'"/>
            </div>
          </div>
        }
      </button>
    </div>
  }
</a>
