<div class="tab-container">
  <div class="tab-header">
    @for (tab of tabs; track tab; let i = $index) {
      @if (tab.visible) {
        <div
          class="tab"
          [class.active]="selectedTabIndex === i"
          (click)="selectTab(i)"
          >
          {{ tab.label | translate }}
        </div>
      }
    }
  </div>
  <div class="tab-content">
    @switch (selectedTabIndex) {
      @case (0) {
        <div>
          <content-files [object]="object"></content-files>
        </div>
      }
      @case (1) {
        <div>
          <sedici-license [object]="object"></sedici-license>
        </div>
      }
      @case (2) {
        <div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <lib-lareferencia-widget-embed [widgetType]="'lrw'"></lib-lareferencia-widget-embed>
            </div>
          </div>
        </div>
      }
      @case (3) {
        <div>
          <full-item [object]="object"></full-item>
        </div>
      }
      @default {
        <div>
          Selecciona una solapa.
        </div>
      }
    }
  </div>
</div>
