<!-- Jumbotron en full width -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="badge-title-container">
      <div class="badge-title-content">
        <div>
          <ds-sedici-context-badge *ngIf="showLabel" [object]="object" [showAccessStatus]="true"></ds-sedici-context-badge>
        </div>
        <h1 class="mr-auto">
          <ds-generic-item-page-field [item]="object"
            [fields]="['dc.title']">
          </ds-generic-item-page-field>
        </h1>
      </div>
      <ds-dso-edit-menu class="edit-menu"></ds-dso-edit-menu>
    </div>
    <div class="subtitle-container">
      <h2 class="subtitle-content mr-auto">
        <ds-generic-item-page-field [item]="object"
          [fields]="['sedici.title.subtitle']">
        </ds-generic-item-page-field>
      </h2>
    </div>
    <hr class="divider">
    <ds-generic-item-page-field [item]="object"
      [fields]="['sedici.creator.person']"
      [separator]="' | '">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['sedici.creator.corporate']"
      [separator]="' | '"
      [label]="'Autor institucional:'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['sedici.creator.interprete']"
      [separator]="' | '"
      [label]="'Intérprete:'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['sedici.contributor.compiler']"
      [separator]="' | '"
      [label]="'Compilador:'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['sedici.contributor.translator']"
      [separator]="' | '"
      [label]="'Traductor:'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['sedici.contributor.editor']"
      [separator]="' | '"
      [label]="'Editor:'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['sedici.contributor.inscriber']"
      [separator]="' | '"
      [label]="'Firmantes'">
    </ds-generic-item-page-field>
    <div>
      <!-- ELEGIR FORMATO -->
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.coverage.spatial']"
        [label]="'Alcance geográfico'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.coverage.temporal']"
        [label]="'Alcance temporal'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.coverage.spatial', 'dc.coverage.temporal']"
        [separator]="', '">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.coverage.spatial', 'dc.coverage.temporal']"
        [separator]="', '"
        [label]="'Alcance geográfico y temporal'">
      </ds-generic-item-page-field>
    </div>
    <div>
      <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="'; '"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    </div>
    <div class="item-identifiers">
      <ng-container *ngFor="let idValue of itemIdentifiers">
        <ds-badge-metadata-values
          [mdValues]="[idValue.mdValue]"
          [badgeType]="'badge-identifier'"
          [badgeLabelType]="'badge-dark'"
          [badgeLabel]="idValue.label"
          [copyToClipboardButton]="true"
          [url]="[idValue.url]">
        </ds-badge-metadata-values>
      </ng-container>
      <ds-badge-metadata-values
        [mdValues]="object?.allMetadata(['sedici.identifier.issn'])"
        [badgeType]="'badge-identifier'"
        [badgeLabelType]="'badge-dark'"
        [badgeLabel]="'ISSN'"
        [copyToClipboardButton]="true">
      </ds-badge-metadata-values>
      <ds-badge-metadata-values
        [mdValues]="object?.allMetadata(['sedici.identifier.isbn'])"
        [badgeType]="'badge-identifier'"
        [badgeLabelType]="'badge-dark'"
        [badgeLabel]="'ISBN'"
        [copyToClipboardButton]="true">
      </ds-badge-metadata-values>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class="row">
        <div class="col-12">
          <language-switcher [item]="object"></language-switcher>
          <h6 *ngIf="subtype?.startsWith('Tesis')" class="section-divider">Información de la tesis</h6>
          <h6 *ngIf="!subtype?.startsWith('Tesis')" class="section-divider">Información general</h6>
          <ds-generic-item-page-field [item]="object"
            [fields]="['sedici.contributor.director']"
            [separator]="' | '"
            [label]="'Directores:'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['sedici.contributor.codirector']"
            [separator]="' | '"
            [label]="'Co-directores:'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['sedici.institucionDesarrollo']"
            [label]="'Instiución de Desarrollo'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['thesis.degree.name']"
            [label]="'Grado alcanzado'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['thesis.degree.grantor']"
            [label]="'Institución otorgante'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['sedici.contributor.juror']"
            [separator]="' | '"
            [label]="'Jurados'">
          </ds-generic-item-page-field>

          <h6 *ngIf="subtype?.startsWith('Tesis')" class="section-divider" style="margin-top: 10px;">Información general</h6>
          <ds-generic-item-page-field [item]="object"
            [fields]="['dc.title.alternative']"
            [label]="'Título alternativo'">
          </ds-generic-item-page-field>
          <sedici-truncatable-generic-item-page-field [item]="object"
            [fields]="['sedici.description.note']"
            [label]="'Notas'">
          </sedici-truncatable-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['sedici.contributor.colaborator']"
            [separator]="' | '"
            [label]="'Colaboradores'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['mods.originInfo.place']"
            [separator]="'; '"
            [label]="'Institución de origen'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['dc.format']"
            [separator]="'; '"
            [label]="'Descripción física'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['dc.format.extent']"
            [label]="'Páginas'">
          </ds-generic-item-page-field>
          <sedici-truncatable-generic-item-page-field [item]="object"
            [fields]="['dc.format.medium']"
            [label]="'Materiales/Técnicas'">
          </sedici-truncatable-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['dc.audience']"
            [label]="'Contexto de uso'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['dc.publisher']"
            [label]="subtype === ('Discurso' || 'Entrevista') ? 'Producción' : 'Editorial'">
          </ds-generic-item-page-field>
          <ds-generic-item-page-field [item]="object"
            [fields]="['sedici.subject.materias']"
            [separator]="', '"
            [label]="'Materias'">
          </ds-generic-item-page-field>
          <ds-item-page-uri-field [item]="object"
            [fields]="['sedici.identifier.uri']"
            [label]="'Enlaces externos'">
          </ds-item-page-uri-field>
          <ds-item-page-uri-field [item]="object"
            [fields]="['sedici.relation.isRelatedWith']"
            [label]="'Documentos relacionados'">
          </ds-item-page-uri-field>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <img src="assets/images/LAREFERENCIA.png" alt="LA REFERENCIA" class="reference-image">
    </div>
  </div>
  <br>
  <ds-tabbed-content [object]="object"></ds-tabbed-content>
</div>
