.container {
  font-size: .75rem;
}

.jumbotron {
  padding: 1rem 0 0;
  margin-bottom: 0;
  background-color: #f6f6f6;
}

.badge-title-container {
  display: flex;
}
  
.badge-title-content {
  display: flex;
  flex-direction: column;

  .title-content {
    font-family: serif;
    font-size: 1.65rem;
    color: black;

    ::ng-deep .simple-view-element {
      margin-bottom: 0px;
    }
  }
}

.edit-menu {
  margin-left: auto;
}

.title-alternative-content {
  font-size: 1.33333em;
  font-weight: var(--font-weight-regular);
  font-style: italic;
  color: #555;
  margin: 0.5rem 0;

  ::ng-deep .simple-view-element {
    margin-top: 0.5rem;
  }
}

.divider {
  border-top: 1px solid #ccc;
}

.divider-top {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.section-divider {
  border-bottom: 1px solid #D8E8Eb;
}

sedici-context,
.author-container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;

  .author-with-icon {
    display: flex;
    align-items: baseline;
    gap: 0.35rem;
  }
  
  .author-icon {
    margin-top: 0.35rem;
    color: #ADADAD;
    font-size: 1rem;
    flex-shrink: 0;
  }

  ::ng-deep span, ::ng-deep a {
    font-size: 1.33333em;
    font-weight: var(--font-weight-regular);
  }

  ::ng-deep h6 {
    font-size: 1.33333em;
    font-weight: var(--font-weight-bold);
  }

  ::ng-deep .simple-view-element {
    line-height: 1.5;
  }
}

.flex-container {
  @media screen and (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.item-identifiers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  margin: 0.5rem 0;

  @media screen and (min-width: 769px) {
    ::ng-deep .simple-view-element {
      margin-bottom: 0px;
    }
  }
  
}

.botones-context {
  display: flex;
  gap: 0.2rem;
  flex-shrink: 0;

  .btn {
    box-shadow: none;
  }

  @media screen and (max-width: 768px) {
    gap: 0;

    button {
      flex: 1 100%;
      border-radius: 0;
      border-top: 1px solid #ccc;
    }

    button + button {
      border-left: 1px solid #ccc; /* Línea divisoria */
      padding-left: 0.5rem; /* Espacio después de la línea */
    }
  }

  ::ng-deep .btn {
    font-size: 1.33333em;
    // font-weight: var(--font-weight-light);
  }
}

app-expandable-metadata {
  ::ng-deep .simple-view-element {
    line-height: 1.5;
  }

  sedici-truncatable-generic-item-page-field {
    ::ng-deep .content {
      line-height: 1.5;
    }
  }
}

.metadata-column {

  ::ng-deep ds-generic-item-page-field,
  ::ng-deep sedici-truncatable-generic-item-page-field,
  ::ng-deep ds-item-page-uri-field {
    h6 {
      font-size: 1rem;
      font-weight: var(--font-weight-bold);
    }
  
    span, a {
      font-size: 1.25em;
      font-weight: var(--font-weight-regular);
    }
  }
}

// Modifico todos los botones que están incluidos en el componente
:host ::ng-deep .btn:focus {
  outline-style: none !important;
}
