.jumbotron {
  padding: 1rem 0;
  margin-bottom: 0;
}

.badge-title-container {
  display: flex;
}
  
.badge-title-content {
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: bold;
    margin-bottom: 0;
  }
}

.edit-menu {
  margin-left: auto;
}

.subtitle-content {
  font-style: italic;
  color: #555;
  margin-bottom: 0.5rem;
}

.divider {
  border-top: 1px solid #999;
  margin: 0.5rem 0;
}

.section-divider {
  border-bottom: 1px solid #D8E8Eb;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.item-identifiers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.botones-header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

#dropdownMenuButton::after {
  content: none;
}