.view-toggle-container {
  display: flex;
  align-items: center;
}

.view-toggle-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.view-toggle-button:hover {
  background-color: #e7e7e7;
  i{
    color: #c2c3c5;
  }
}

.view-toggle-button.active {
  background-color: #c0c0c0;

  i{
    color: white;
  }
}

.view-toggle-button i {
  font-size: 18px;
  color: #d0d0d0;
}

/* Versión con ícono más pequeño para el segundo botón */
.view-toggle-button.grid-view i {
  font-size: 18px;
}