.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;

  ds-badges {
    margin-bottom: 0.6rem;
    font-size: 1.5em;
  }

  ::ng-deep .badge {
    font-size: 1rem;
  }

  ds-access-status-badge {
    margin-top: auto;
  }
}

.card-title {
  font-family: serif;
  font-size: 1.25rem;
  color: black;
  line-height: 1.3;
  margin-bottom: 0;

  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
  }
}

.item-abstract {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: small;
  }
}

.thumbnail-container {
  position: relative;
  display: block;
}

.item-type-overlay {
  position: absolute;
  left: 0rem;
  top: -0rem;
  z-index: 2;
}

.item-year-overlay {
  font-size: 0.9rem;
  font-family: 'Roboto';
  font-weight: var(--font-weight-regular);
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 2;
  color: white;
  background-color: gray;
  line-height: 1;
  border: 1px solid transparent;
  padding: 0.4rem;
}

.author-icon,
.building-icon {
  margin-right: 6px;
  color: #ADADAD;
}

.authors-container {
  color: #131313;
  font-size: .9rem;
  line-height: 1.4;

  .info-row {
    display: flex;
    align-items: baseline;
  }

  .author-icon,
  .building-icon {
    flex-shrink: 0;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.9rem;
  }
}