.card {
  height: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;

    ds-badges {
      margin-bottom: 0.6rem;
      font-size: 1.5em;
    }

    ::ng-deep .badge {
      font-size: 1rem;
    }

    ds-access-status-badge {
      margin-top: auto;
    }
}

.card-title{
    font-family: serif;
    font-size: 1.25rem;
    color: black;
    line-height: 1.3;
    margin-bottom: 0;

    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
    }
}

.item-abstract{
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: small;
    }
}

.thumbnail-container {
  position: relative;
  display: block;
}

.item-type-overlay {
  position: absolute;
  left: 0rem;
  top: -0.143rem;
  z-index: 2;
}

:host ::ng-deep .badge {
  border-radius: 0px !important; // SEDICI TODO: Sacar este estilo y ponerlo bien en el componente badge
  padding: 0.4rem !important;
}

.item-year-overlay {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 2;
  color: white;
  background-color: gray;
  line-height: normal;
  padding: 0.34rem; // SEDICI TODO: Ver por qué necestita este padding si el otro badge tiene 0.3
}

.author-icon, .building-icon {
  margin-right: 6px;
  color: #ADADAD;
}

.authors-container {
  color: #131313;
  font-size: .9rem;
  line-height: 1.4;

  .info-row {
    display: flex;
    align-items: baseline; 
  }

  .author-icon,
  .building-icon {
    flex-shrink: 0;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.9rem;
  }
}