@if (searchEnabled && (isXsOrSm$ | async)) {
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ng-template *ngTemplateOutlet="searchForm"></ng-template>
      </div>
    </div>
  </div>
}

@if (!showSidebar && (initialized$ | async)) {
  <div>
    <ng-template *ngTemplateOutlet="searchContent"></ng-template>
  </div>
}

@if (showSidebar && (initialized$ | async)) {
  <ds-page-with-sidebar [id]="'search-page'" [sideBarWidth]="sideBarWidth"
    [sidebarContent]="sidebarContent">
    <ng-template *ngTemplateOutlet="searchContent"></ng-template>
  </ds-page-with-sidebar>
}

<ng-template #searchContent>
  <div class="row">
    @if ((isXsOrSm$ | async) !== true) {
      <div class="col-12">
        @if (searchEnabled) {
          <ng-template *ngTemplateOutlet="searchForm"></ng-template>
        }
        <ng-content select="[additionalSearchOptions]"></ng-content>
      </div>
    }
    @if (showCsvExport) {
      <div class="col-12 text-end mb-2 mt-2">
        <ds-search-export-csv [searchConfig]="searchOptions$ | async"></ds-search-export-csv>
      </div>
    }
    <div id="search-content" class="col-12">
      <div class="d-block d-md-none search-controls clearfix">
        <div class="config-view-container">
          @if (inPlaceSearch && showViewModes) {
            <ds-view-mode-switch [viewModeList]="viewModeList"
            [inPlaceSearch]="inPlaceSearch"></ds-view-mode-switch>
          }
          <div class="config-right">
            <ds-pagination
              [paginationOptions]="(searchOptions$ | async)?.pagination"
              [collectionSize]="(resultsRD$ | async)?.payload?.totalElements"
              [objects]="resultsRD$ | async"
              [sortOptions]="currentSortOptions$ | async"
              [hideGear]="false"
              [hidePagerWhenSinglePage]="true"
              [hidePaginationDetail]="true"
              [showPaginator]="true"
              [hideBottomPager]="true"
              [sortOptionsList]="(sortOptionsList$ | async)"
              (pageChange)="onPageChange($event)"
              (pageSizeChange)="onPageSizeChange($event)"
              (sortDirectionChange)="onSortDirectionChange($event)"
              (sortFieldChange)="onSortFieldChange($event)"
              (paginationChange)="onPaginationChange($event)"
              (prev)="goPrev()"
              (next)="goNext()">
            </ds-pagination>
            <button (click)="openFiltersSidebar()" aria-controls="#search-body"
              class="btn btn-outline-primary open-sidebar">
              <i class="fas fa-sliders"></i> {{"search.sidebar.open" | translate}}
            </button>
          </div>
        </div>
      </div>
      <ng-content select="[searchContentTop]"></ng-content>

      @if (inPlaceSearch) {
        <ds-search-results
          [searchResults]="resultsRD$ | async"
          [searchConfig]="searchOptions$ | async"
          [configuration]="(currentConfiguration$ | async)"
          [disableHeader]="!searchEnabled"
          [showViewModes]="showViewModes"
          [viewModeList]="viewModeList"
          [linkType]="linkType"
          [context]="(currentContext$ | async)"
          [selectable]="selectable"
          [selectionConfig]="selectionConfig"
          [showCsvExport]="showCsvExport"
          [sortOptionsList]="(sortOptionsList$ | async)"
          [currentSortOption]="(currentSortOptions$ | async)"
          [showThumbnails]="showThumbnails"
          (contentChange)="onContentChange($event)"
          (deselectObject)="deselectObject.emit($event)"
        (selectObject)="selectObject.emit($event)"></ds-search-results>
      }
    </div>
  </div>
</ng-template>

<ng-template #sidebarContent>
  @if ((isXsOrSm$ | async) !== true) {
    <ds-search-sidebar id="search-sidebar"
      [configurationList]="configurationList"
      [configuration]="(currentConfiguration$ | async)"
      [currentScope]="(currentScope$ | async)"
      [filters]="filtersRD$.asObservable()"
      [refreshFilters]="refreshFilters"
      [resultCount]="(resultsRD$ | async)?.payload?.totalElements"
      [searchOptions]="(searchOptions$ | async)"
      [sortOptionsList]="(sortOptionsList$ | async)"
      [currentSortOption]="(currentSortOptions$ | async)"
      [inPlaceSearch]="inPlaceSearch"
      (changeConfiguration)="changeContext($event.context)"
    (changeViewMode)="changeViewMode()"></ds-search-sidebar>
  }
  @if ((isXsOrSm$ | async)) {
    <ds-search-sidebar id="search-sidebar-sm"
      [configurationList]="configurationList"
      [configuration]="(currentConfiguration$ | async)"
      [currentScope]="(currentScope$ | async)"
      [filters]="filtersRD$.asObservable()"
      [refreshFilters]="refreshFilters"
      [resultCount]="(resultsRD$ | async)?.payload?.totalElements"
      [searchOptions]="(searchOptions$ | async)"
      [sortOptionsList]="(sortOptionsList$ | async)"
      [currentSortOption]="(currentSortOptions$ | async)"
      [inPlaceSearch]="inPlaceSearch"
      [viewModeList]="viewModeList"
      [showViewModes]="showViewModes"
      (toggleSidebar)="closeSidebar()"
      (changeConfiguration)="changeContext($event.context)"
      (changeViewMode)="changeViewMode()">
    </ds-search-sidebar>
  }
</ng-template>

<ng-template #searchForm>
  <ds-search-form id="search-form"
    [query]="(searchOptions$ | async)?.query"
    [scope]="(searchOptions$ | async)?.scope"
    [hideScopeInUrl]="hideScopeInUrl"
    [currentUrl]="searchLink"
    [showScopeSelector]="showScopeSelector"
    [inPlaceSearch]="inPlaceSearch"
    [searchPlaceholder]="searchFormPlaceholder | translate"
    variant="community">
  </ds-search-form>
</ng-template>
