@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}

::ng-deep .search-controls {
    margin-bottom: var(--bs-spacer);
}

.config-view-container {
  display: flex;
  gap: 0.5rem;

  .config-right {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
  }
}
