@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}

::ng-deep .search-controls {
    margin-bottom: var(--bs-spacer);
}

.config-view-container {
  display: flex;
  gap: 0.5rem;

  ::ng-deep ds-pagination ngb-pagination, ::ng-deep ds-pagination ds-rss {
    display: none;
  }

  ::ng-deep ds-pagination #paginationControlsDropdownMenu {
    top: auto !important;
    transform: none !important;
  }
}
