@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}

.row{
  background-color: rgb(128 128 128 / 6%);
  margin-right: calc(-50vw + 50%); /* Extiende hasta el borde derecho */
  padding-right: calc(50vw - 50%); /* Compensa el margen para el contenido */
}

::ng-deep .search-controls {
    margin-bottom: var(--bs-spacer);
}

.config-view-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;



  .config-right {
    display: flex;
    gap: 0.5rem;

    .filters-container {
      display: flex;
    }
  }

  @media screen and (max-width: 768px) {
    margin-left: 10px;
  }
}
