<footer class="text-lg-start">
  <div class="bottom-footer p-3 d-flex justify-content-between text-white">
    <div class="footer-left">
      <p class="footer-title">
        <b>PREBI - SEDICI {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}</b>
      </p>
      <p class="footer-text">Universidad Nacional de La Plata</p>
      <img src="assets/images/dspace-logo.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-right d-flex">
      <div class="footer-icons">
        <a href="https://www.facebook.com/sedici.unlp"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/sedici_unlp/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/sedici_unlp"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.youtube.com/@sediciUNLP"><i class="fa-brands fa-youtube"></i></a>
      </div>

      <div class="footer-section">
        <h5 class="footer-subtitle"><b>Busqueda de material</b></h5>
        <a href="#">Ayuda</a>
        <a href="#">Obligacion de deposito</a>
        <a href="#">Estadisticas</a>
      </div>
      <div class="footer-section">
        <h5 class="footer-subtitle"><b>Institucional</b></h5>
        <a href="#">Politicas</a>
        <a href="#">Blog</a>
      </div>
      <div class="footer-section">
        <h5 class="footer-subtitle"><b>Preguntas frecuentes</b></h5>
        <a href="#">Como agregar trabajos</a>
        <a href="#">Que hacemos en SEDICI</a>
        <a href="#">Acerca de</a>
      </div>
    </div>
  </div>
</footer>
