:host {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--bs-spacer) / 4);
}

.badge {
  white-space: inherit;
  font-size: 90%;
  font-weight: 510;
  color: rgba(0, 0, 0, 0.8196078431);
  border: 1.8px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 0.8rem;
  background-color: white;
}
