<div class="modal-header">
  <i class="fa-solid fa-quote-right"></i>
  <span class="modal-title">{{'sedici.item.page.sedici.citation' | translate}}</span>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()">
  </button>
</div>
<div class="modal-body">
  <div class="citation-type-selector">
    <label for="citationType">{{'sedici.item.page.sedici.citation.type' | translate}}:</label>
    <select id="citationType" class="form-select" (change)="onCitationTypeChange($event)">
      @for (option of citationOptions; track option) {
        <option [value]="option.value">{{ option.label }}</option>
      }
    </select>
  </div>
  <div class="apa-citation-container">
    <div class="apa-citation" #elementContentToCopy>
      {{ citation }}
    </div>
  </div>
  <div class="copy-button-wrapper">
    <button type="button" id="copyButton" class="btn-copy" (click)="copyToClipboard(elementContentToCopy)">
      {{'sedici.item.page.sedici.citation.copy-clipboard' | translate}} <i class="fa fa-copy" aria-hidden="true"></i>
    </button>
    @if (copySuccess) {
      <span id="copySuccessMessage" class="copy-success-message">✓</span>
    }
  </div>
</div>
