<ds-metadata-field-wrapper [label]="label | translate">
  <!-- DSPACE 9.2 -->
  <ul class="collections">
    @for (c of this.collections; track c; let last = $last) {
      <li>
        <a [routerLink]="['/collections', c.collection.id]" role="button" tabindex="0">
          <span>{{ dsoNameService.getName(c.parentCommunity) }} > {{ dsoNameService.getName(c.collection) }}</span>
          @if (!last) {
            <span [innerHTML]="separator"></span>
          }
        </a>
      </li>
    }
  </ul>

  @if (isLoading$ | async) {
    <div>
      {{'item.page.collections.loading' | translate}}
    </div>
  }

  @if ((isLoading$ | async) !== true && (hasMore$ | async)) {
    <a
      (click)="$event.preventDefault(); handleLoadMore()"
      class="load-more-btn btn btn-sm btn-outline-secondary"
      role="button"
      href="javascript:void(0);"
      role="button"
      tabindex="0"
      >
      {{'item.page.collections.load-more' | translate}}
    <!-- DSPACE 9.2 -->
  
  <!-- DSPACE 9.3 
  <div class="collections">
    @for (collection of (this.collections$ | async); track collection; let last = $last) {
      <a [routerLink]="['/collections', collection.id]" role="button" tabindex="0">
        <span>{{ dsoNameService.getName(collection) }}</span>@if (!last) {
        <span [innerHTML]="separator"></span>
      }
      DSPACE 9.3 -->
    </a>
  }
</ds-metadata-field-wrapper>
