.dropdown-toggle {
  color: var(--ds-header-icon-color);

  // &:hover, &:focus {
  //   color: var(--ds-header-icon-color-hover);
  // }
}

.dropdown-item {
  cursor: pointer;
}

.text-uppercase{
  text-transform: uppercase;
  padding: 0.76rem 0rem;
}

/* Asegúrate de que el menú desplegable no se corte */
@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .dropdown-menu {
    transform: translateY(-100%) !important;
  }
}

:host {
  .nav-item {
    @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {      
      .dropdown-menu {
        position: static !important;
        transform: none !important;
        border: none;
        box-shadow: none;
      }

      .dropdown-item {
        color: var(--ds-navbar-link-color);
        
        &.active {
          background-color: var(--bs-primary);
          color: white;
        }
      }
    }
  }
}