.section-destacados {
  margin: 2rem 0;

  .section-title {
    position: relative;
    text-align: center;
    color: #333;
    padding: 0.25rem 0;
    font-size: 1rem;
    letter-spacing: 1px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: #d4d4d4;
    }

    &::before {
      margin-left: -102%;
      width: 100%;
      margin-right: 15px;
    }
    
    &::after {
      margin-left: 2%;
      width: 100%;
    }
  }
  
  .section-grid {
    display: flex;
    gap: 2rem;
    
    .section-item {
      text-align: center;
      
      .img-container {
        margin-bottom: 1rem;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          max-width: 100%;
          max-height: 100px;
          object-fit: contain;
        }
      }
      
      .section-texto {
        p {
          color: #666;
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .section-grid {
      overflow-x: auto;

      .section-item {
        min-width: 30vw; // Me aseguro que aparazcan 2 y 1/2 para que sepa que se puede deslizar
      }
    }

    .section-grid .section-item.multi-row .img-container {
      margin-bottom: 0rem;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    .section-grid {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    .single-row {
      flex: 0 1 150px;
    }

    .multi-row {
      flex: 0 1 250px;
    }
  }
}
