<ng-container *ngTemplateOutlet="itemsGrid; context: { title: 'Colecciones destacadas', items: coleccionesDestacadas, column: false, isSingleRow: true }"></ng-container>
<ng-container *ngTemplateOutlet="itemsGrid; context: { title: 'Facultades', items: facultades, column: true, isSingleRow: false }"></ng-container>
<ng-container *ngTemplateOutlet="itemsGrid; context: { title: 'Pregrado', items: pregrado, column: true, isSingleRow: false }"></ng-container>

<ng-template #itemsGrid let-title="title" let-items="items" let-column="column" let-isSingleRow="isSingleRow">
  <div class="section-destacados">
    <div class="title-container">
      <span class="explorar-text">Explorar</span>
      <h2 class="section-title">{{title}}</h2>
    </div>
    <div *ngIf="items" class="section-grid container" [ngClass]="{'d-inline d-sm-flex': column, 'single-row-scroll': isSingleRow}">
      <div *ngFor="let item of items" class="section-item" [ngClass]="isSingleRow ? 'single-row' : 'multi-row'">
        <a [href]="item.href">
          <div class="img-container">
            <img [src]="item.img" [alt]="item.title">
          </div>
          <div class="section-texto">
            <p>{{item.description}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</ng-template>