<div id="faculties-section">
  <ng-container *ngTemplateOutlet="itemsGridCards; context: { title: 'faculties', items: facultades }"></ng-container>
</div>
<div id="undergraduate-section">
  <ng-container *ngTemplateOutlet="itemsGridCards; context: { title: 'undergraduate', items: pregrado }"></ng-container>
</div>
<div id="featured-unlp-collections-section">
  <ng-container *ngTemplateOutlet="itemsGrid; context: { title: 'featuredUnlpCollections', items: coleccionesDestacadasUnlp }"></ng-container>
</div>
<div id="featured-other-collections-section">
  <ng-container *ngTemplateOutlet="itemsGrid; context: { title: 'featuredOtherCollections', items: coleccionesDestacadasOtras }"></ng-container>
</div>


<ng-template #itemsGridCards let-title="title" let-items="items">
  <div class="section-destacados card-grid">
    <div class="title-container">
      <span class="explorar-text">{{'home.page.explore' | translate}}</span>
      <span class="section-title">{{'home.page.' + title | translate}}</span>
    </div>
    @if (items) {
      <div class="section-grid container">
        @for (item of items; track item) {
          <div class="card-item multi-row">
            <a [href]="item.href">
              <div class="card-header" [style.background-color]="item.color || defaultColor">
                <!-- Barra de color superior -->
              </div>
              <div class="card-body">
                <div class="img-container">
                  <img [src]="item.img" [alt]="item.title">
                </div>
                <div class="card-text">
                  <p>{{item.description}}</p>
                </div>
              </div>
            </a>
          </div>
        }
      </div>
    }
  </div>
</ng-template>

<ng-template #itemsGrid let-title="title" let-items="items">
  <div class="section-destacados simple-grid">
    <div class="title-container">
      <span class="explorar-text">{{'home.page.explore' | translate}}</span>
      <span class="section-title">{{'home.page.' + title | translate}}</span>
    </div>
    @if (items) {
      <simple-carousel [coleccionesDestacadas]="items"></simple-carousel>
    }
  </div>
</ng-template>