
::ng-deep span.label.ui-sortable-handle {
  font-weight: bold;
}

::ng-deep span.value {
  display: inline-block;
  padding: 0.4rem 0.75rem;
  background-color: #e0e0e0;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 5px;
}

::ng-deep span.value:hover {
  background-color: #d5d5d5;
}
