<form class="form-login" (ngSubmit)="submit()" [formGroup]="form" novalidate>
  
  <div class="input-group">
    <input [attr.aria-label]="'login.form.email' | translate"
           autocomplete="username"
           autofocus
           class="form-control"
           formControlName="email"
           placeholder="{{'login.form.email' | translate}}"
           required
           type="email"
           [attr.data-test]="'email' | dsBrowserOnly">
    <i class="fas fa-user input-icon"></i>
  </div>

  <div class="input-group">
    <input [attr.aria-label]="'login.form.password' | translate"
           autocomplete="current-password"
           class="form-control"
           placeholder="{{'login.form.password' | translate}}"
           formControlName="password"
           required
           type="password"
           [attr.data-test]="'password' | dsBrowserOnly">
    <i class="fas fa-lock input-icon"></i>
  </div>

  @if ((error | async) && hasError) {
    <div class="alert alert-danger alert-login" role="alert" [@fadeOut]>
    {{ (error | async) | translate }}</div>
  }
  @if ((message | async) && hasMessage) {
    <div class="alert alert-info alert-login" role="alert" [@fadeOut]>
      {{ (message | async) | translate }}
    </div>
  }

  <button class="btn-login" type="submit" 
          [attr.data-test]="'login-button' | dsBrowserOnly"
          [dsBtnDisabled]="!form.valid" role="button" tabindex="0">
      {{"login.form.submit" | translate}}
  </button>
</form>

@if (canShowDivider$ | async) {
  <div class="login-links">
    
    @if (canForgot$ | async) {
      <a class="dropdown-item forgot-link" [routerLink]="[getForgotRoute()]"
         [attr.data-test]="'forgot' | dsBrowserOnly" tabindex="0">
         {{ "login.form.forgot-password" | translate }}
      </a>
    }

    @if (canRegister$ | async) {
      <div class="register-container">
         <a class="dropdown-item register-link" [routerLink]="[getRegisterRoute()]"
          [attr.data-test]="'register' | dsBrowserOnly" tabindex="0"
          [innerHTML]="'login.form.new-user' | translate">
        </a>
      </div>
    }
  </div>
}