a {
    color: var(--bs-link-color);
    &:hover {
        text-decoration: underline;
        color: var(--bs-link-hover-color);

    }
    span.badge {
        vertical-align: text-top;
    }
}

.filter-count {
    color: #6c757df7; 
    font-size: 0.9em;
}