<h2 class="item-page-title-field">
  {{'person.page.titleprefix' | translate}}<ds-metadata-values [mdValues]="[object?.firstMetadata('person.familyName'), object?.firstMetadata('person.givenName')]" [separator]="', '"></ds-metadata-values>
</h2>

<div class="row" >
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper>
      <ds-thumbnail [thumbnail]="getThumbnail() | async" [defaultImage]="'assets/images/person-placeholder.svg'"></ds-thumbnail>
    </ds-metadata-field-wrapper>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.email']"
      [label]="'person.page.email'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.birthDate']"
      [label]="'person.page.birthdate'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.address']"
      [label]="'person.page.address'">
    </ds-generic-item-page-field>
    <ds-keywords-badges
      [item]="object"
      [metadataField]="'person.keyword'"
      [label]="'person.page.keywords'">
    </ds-keywords-badges>
  </div>
  <div class="col-xs-12 col-md-5">
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.familyName']"
      [label]="'person.page.lastname'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.givenName']"
      [label]="'person.page.firstname'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.dni']"
      [label]="'person.page.dni'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.cuit']"
      [label]="'person.page.cuit'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.telephone']"
      [label]="'person.page.telephone'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.jobTitle']"
      [label]="'person.page.jobtitle'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
     [fields]="['person.knowsLanguage']"
     [label]="'person.page.knowslanguage'">
    </ds-generic-item-page-field>
    <ds-related-items
      [parentItem]="object"
      [relationType]="'isOrgUnitOfPerson'"
      [label]="'relationships.isOrgUnitOf' | translate">
    </ds-related-items>
<!-- <ds-related-items
  [parentItem]="object"
      [relationType]="'isProjectOfPerson'"
      [label]="'relationships.isProjectOf' | translate">
    </ds-related-items> -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.biography']"
      [label]="'person.page.biography'">
    </ds-generic-item-page-field>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="['/items/' + object.id + '/full']">
        {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <ds-person-export-profile [item]="object"></ds-person-export-profile>
    <ds-person-page-qr></ds-person-page-qr>
    <ds-person-identifiers [item]="object"></ds-person-identifiers>
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.webpage']"
      [label]="'person.page.webpages'">
    </ds-generic-item-page-field>
  </div>
  <div id="personMenu">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>{{"person.publications" | translate}}</a>
        <ng-template ngbNavContent>
          <div class="mt-5 w-100">
            <ds-tabbed-related-entities-search  [item]="object"
                                                [relationTypes]="[{
                                                  label: 'isAuthorOfPublication',
                                                  filter: 'isAuthorOfPublication'
                                                }]">
            </ds-tabbed-related-entities-search>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>{{"person.statistics" | translate}}</a>
        <ng-template ngbNavContent>
          <ds-person-statistics [item]="object"></ds-person-statistics>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
