a {
    color: var(--bs-body-color);
    &:hover, &:focus {
        text-decoration: none;
    }
    span.badge {
        vertical-align: text-top;
    }
}

.filter-count {
    color: #6c757df7; 
    font-size: 0.9em;
}

.break-facet {
    word-break: break-word;
}

.filter-checkbox {
    height: fit-content;
}
