.colapsed-viewer {
  height: 60vh;

  @media (max-height: 800px) {
    height: 55vh;
  }
}

.expanded-viewer {
  height: 85vh;
}

.selection-menu {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 5px;

  .section {
    margin-bottom: 10px;

    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }

    label {
      font-weight: bold;
      margin-bottom: 0px;
    }

    .filter-toggle-btn {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      color: white;
  
      &.active {
        background-color: #28a745; // Verde para activado

        &:hover {
          background-color: #259640;
        }
      }
  
      &.inactive {
        background-color: #6c757d; // Gris para desactivado

        &:hover {
          background-color: #4f565c;
        }
      }
    }

    textarea {
      width: 100%;
      max-height: 10vh;
      resize: vertical;
      padding: 10px;
      box-sizing: border-box;
      font-size: 14px;
    }
  }

  .selection-submenu {
    margin-bottom: 5px;

    .row {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-left: 0;
      margin-right: 0;
    
      .field {
        flex: 1;
        display: flex;
        flex-direction: column;
    
        label {
          margin-bottom: 5px;
        }
    
        select {
          width: 100%;
          height: 100%;
          padding: 5px;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .filter-btn {
      padding: 10px 15px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
    }
    
    .filter-btn:hover {
      background-color: #e0e0e0;
    }

    .btn {
      flex: 1;
      padding: 10px 15px;
      font-size: 14px;
      border: none;
      border-radius: 5px;

      &.btn-primary {
        background-color: #007bff;
        color: #fff;
      }

      &.btn-secondary {
        background-color: #6c757d;
        color: #fff;
      }
    }

    .dropdown {
      .dropdown-menu {
        display: none;
      }
      
      .dropdown-menu.show {
        display: flex;
        min-width: max-content;
      }
    }
  }

  .inputs-grid {
    display: grid;
    grid-template-rows: repeat(5, auto); // Define un máximo de 5 filas
    grid-auto-flow: column;
    gap: 5px;
    font-size: .75rem;
  }
}