<!-- <div [ngStyle]="{ height: isTextSelected ? '500px' : '100vh' }"> --> <!-- Con el vh se 'escapa' por debajo del footer -->
<!-- <div [ngStyle]="{ height: isTextSelected ? '500px' : '800px' }"> --> <!-- VER de pasar a porcentajes o vh (calculado) -->
<div [ngStyle]="{ height: isTextSelected ? '50vh' : '70vh' }">
<!-- <div [ngStyle]="{ height: isTextSelected ? '65vh' : '65vh' }"> -->
  <!-- VISOR DEL PDF -->
  <ng2-pdfjs-viewer
    viewerId="1"
    #pdfViewerOnDemand
    [pdfSrc]="pdfUrl"
    [openFile]="false"
    zoom="page-width"
    [download]="false"
    (onDocumentLoad)="pagesLoadedEvent()"
    class="pdf-viewer">
  </ng2-pdfjs-viewer>

  <!-- MENÚ DE PREVISUALIZACIÓN Y ACCIONES -->
  <div *ngIf="isTextSelected" class="selection-menu">
    <!-- SECCIÓN: TEXTO SELECCIONADO -->
    <div class="section" *ngIf="!showDynamicInputs">
      <div class="section-header">
        <label for="selected-text">Texto seleccionado:</label>
        <div class="d-flex gap-1">
          <button 
            (click)="changeConcatenateText()" 
            [class.active]="concatenateText"
            [class.inactive]="!concatenateText"
            class="filter-toggle-btn">
            +
          </button>
          <button 
            (click)="changeFilterAutomatically()" 
            [class.active]="filterAutomatically"
            [class.inactive]="!filterAutomatically"
            class="filter-toggle-btn">
            Modo automático
          </button>
        </div>
      </div>
      <textarea
        id="selected-text"
        [(ngModel)]="selectedText"
        placeholder="Texto seleccionado"
        rows="6"
      ></textarea>
    </div>

    <!-- Contenedor para los inputs dinámicos -->
    <div id="inputsContainer" class="inputs-grid" *ngIf="showDynamicInputs"></div>


    <div class="selection-submenu">
      <!-- SECCIÓN: PREVISUALIZACIÓN DEL TEXTO SELECCIONADO -->
      <div class="row">
        <div class="field">
          <select [(ngModel)]="selectedMetadataField" id="textarea-select">
            <option value="" disabled selected>Seleccionar campo</option>
            <option *ngFor="let option of metadataOptions" [ngValue]="option.value">
              {{ option.name }}
            </option>
          </select>
        </div>
    
        <!-- SECCIÓN: BOTONES DE FILTROS -->
        <div class="action-buttons">
          <button class="filter-btn" (click)="applyFilter('splitByDelimiter')" [disabled]="showDynamicInputs">Split</button>
          <button class="filter-btn" (click)="applyFilter('removeTitles')">❌🎓</button>
          <button class="filter-btn" (click)="applyFilter('removeReferences')">❌🔢</button>

          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="filter-btn">A</button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-transformer-menu">
              <button class="filter-btn" (click)="applyFilter('removeDoubleSpaces')">❌␣␣</button>
              <button class="filter-btn" (click)="applyFilter('capitalize')">Cap</button>
              <button class="filter-btn">3</button>
              <button class="filter-btn">4</button>
              <button class="filter-btn">5</button>
              <button class="filter-btn">6</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- SECCIÓN: BOTONES DE ACCIÓN -->
    <div class="action-buttons">
      <button (click)="copyToMetadataField()" class="btn btn-primary">
        Agregar
      </button>
      <button (click)="clearTextSelection()" class="btn btn-secondary">
        Cancelar
      </button>
    </div>
  </div>
</div>