<div class="outer-wrapper" [class.d-none]="shouldShowFullscreenLoader" [ngClass]="browserOsClasses.asObservable() | async" [@slideSidebarPadding]="{
     value: ((isSidebarVisible$ | async) !== true ? 'hidden' : (slideSidebarOver$ | async) ? 'unpinned' : 'pinned'),
     params: { collapsedWidth: (collapsedSidebarWidth$ | async), expandedWidth: (expandedSidebarWidth$ | async) }
    }">
  <ds-admin-sidebar [expandedSidebarWidth$]="expandedSidebarWidth$" [collapsedSidebarWidth$]="collapsedSidebarWidth$"></ds-admin-sidebar>
  <div class="inner-wrapper" [ngClass]="{'margin-header': ((isHomePage$ | async) !== true)}">
    <ds-system-wide-alert-banner></ds-system-wide-alert-banner>
    <div [ngClass]="{'d-none d-md-block': (isHomePage$ | async)}">
      <ds-header-navbar-wrapper></ds-header-navbar-wrapper>
    </div>
    <ds-breadcrumbs></ds-breadcrumbs>
    <main id="main-content">

      @if (shouldShowRouteLoader) {
        <div class="container d-flex justify-content-center align-items-center h-100">
          <ds-loading [showMessage]="false"></ds-loading>
        </div>
      }
      <div [class.d-none]="shouldShowRouteLoader">
        <router-outlet></router-outlet>
      </div>
    </main>

    <ds-footer ngSkipHydration></ds-footer>
    <sedici-post-footer></sedici-post-footer>
    <!-- @if ((isMobile$ | async)) {
      <bottom-navigation-bar></bottom-navigation-bar>
    } -->
  </div>
</div>

<ds-notifications-board [options]="notificationOptions">
</ds-notifications-board>

@if (shouldShowFullscreenLoader) {
  <div class="ds-full-screen-loader">
    <ds-loading [showMessage]="false"></ds-loading>
  </div>
}
