<button type="button"
        [className]="'btn btn-light'"
        ngbTooltip="{{'Selecciona la COLECCIÓN destino en la que finalmente el item será archivado.' | translate}}"
        [disabled]="processing$ | async"
        (click)="submitTask()">
  <span *ngIf="processing$ | async"><i class='fas fa-circle-notch fa-spin'></i> {{'submission.workflow.tasks.generic.processing' | translate}}</span>
  <span *ngIf="!(processing$ | async)"><i class="fa fa-folder"></i> {{'Seleccionar colección' | translate}}</span>

  <!--<span *ngIf="!(processing$ | async)"><i class="fa fa-thumbs-up"></i> {{'submission.workflow.tasks.claimed.approve' | translate}}</span>-->
</button>
