<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="close()">
  </button>
  @if (headerTemplate) {
    <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
  }
</div>
<div class="modal-body">
  @if (content) {
    @if (embargoedFile) {
      <div>
        <span>EL ARCHIVO SE ENCUENTRA EMBARGADO</span>
      </div>
    }
    @if (!isAssetAvailable) {
      <div>
        <span>OCURRIÓ UN ERROR INESPERADO: PREVISUALIZACIÓN NO DISPONIBLE</span>
      </div>
    }
    @if (!embargoedFile && isAssetAvailable) {
      <div>
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    }
  }
</div>