.badge {
  color: #26667D;
  background-color: #D8EEF6;
  border-radius: 2.5px;
  font-size: 0.9rem;
  font-family: 'Roboto';
  font-weight: var(--font-weight-regular);
  
  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.item-page-view {
  padding: 0.3rem;
}

.list-view {
  padding: 0.5em;
}