.badge {
  color: #000000d1;
  //background-color: var(--sedici-color);
  //border: 1px solid var(--sedici-color);
  background-color: #dee1ff;
  border-radius: 2.5px;
  padding: 0.4em 0.6em;
  font-weight: var(--font-weight-regular);
}