@if ((allOptions$ | async); as allOptions) {
  <nav class="comcol-browse mb-4" aria-label="Browse Community or Collection" [style.--sedici-color]="color">
    <div class="d-none d-sm-block">
      <div class="tab-header" role="tablist">
        @for (option of allOptions; track option) {
        <a [attr.aria-current]="(currentOption$ | async)?.id === option.id" class="tab" role="tab"
          [routerLink]="option.routerLink" [queryParams]="option.params"
          [class.active]="(currentOption$ | async)?.id === option.id" role="tab" tabindex="0">
          @if (option.label.includes('search') ) {
            <i class="fa-solid fa-magnifying-glass"></i>
          }
          {{ option.label | translate }}
        </a>
        }
      </div>
    </div>
    <div class="d-block d-sm-none">
      <div class="mobile-dropdown">
        <button class="dropdown-toggle-btn" (click)="toggleDropdown()" type="button" aria-label="Browse options">
          <span>{{ ((currentOption$ | async)?.label | translate) || 'Seleccionar opción' }}</span>
          <span class="arrow" [class.open]="isDropdownOpen">▼</span>
        </button>

        @if (isDropdownOpen) {
        <ul class="mobile-browse-list">
          @for (option of allOptions; track option) {
          <li [class.active]="(currentOption$ | async)?.id === option.id" class="mobile-browse-item"
            (click)="selectOption()">
            <a [routerLink]="option.routerLink" [queryParams]="option.params"
              [attr.aria-current]="(currentOption$ | async)?.id === option.id">
              {{ option.label | translate }}
            </a>
          </li>
          }
        </ul>
        }
      </div>
    </div>
  </nav>
}