<ds-home-news></ds-home-news>
@if (showDiscoverFilters) {
  <ds-configuration-search-page
    [sideBarWidth]="3"
    [showViewModes]="false"
    [searchEnabled]="false"
    [inPlaceSearch]="false"
    [showScopeSelector]="false">
    <ng-container searchContentTop *ngTemplateOutlet="homeContent"></ng-container>
  </ds-configuration-search-page>
}
@if (!showDiscoverFilters) {
  <div class="container">
    <ng-container *ngTemplateOutlet="homeContent"></ng-container>
  </div>
}
<ds-suggestions-popup></ds-suggestions-popup>

<ng-template #homeContent>
  <div class="destacado">
    <div class="title-container">
      <span class="explorar-text">{{'home.page.explore' | translate}}</span>
      <h2 class="section-title">{{'home.page.production' | translate}}</h2>
    </div>
    <div class="row container">
      @for (item of exploraciones; track item) {
        <div class="col-6 col-md-3 mb-4">
          <a [routerLink]="item.href" [queryParams]="item.queryParams || {}">
            <div class="collection-card">
              <div class="icon-container">
                <img [src]="item.img" alt="{{'home.page.' + item.title | translate}}">
              </div>
              <div class="text-container">
                <h4>{{'home.page.' + item.title | translate}}</h4>
                <p>{{item.description}}</p>
              </div>
            </div>
          </a>
        </div>
      }
    </div>
  </div>
</ng-template>

<comcol-grid></comcol-grid>

<div class="help text-center d-flex flex-column flex-md-row justify-content-around align-items-center">
  <div class="p-2">
    <img src="assets/custom/images/ayuda.svg" alt="{{'home.page.researcherHelp' | translate}}">
    <h5>{{'home.page.researcherHelp' | translate}}</h5>
  </div>
  <div class="p-2">
    <img src="assets/custom/images/obligacion.svg" alt="{{'home.page.depositionObligation' | translate}}">
    <h5>{{'home.page.depositionObligation' | translate}}</h5>
  </div>
  <div class="p-2">
    <img src="assets/custom/images/stats.svg" alt="{{'home.page.growthStatistics' | translate}}">
    <h5>{{'home.page.growthStatistics' | translate}}</h5>
  </div>
</div>

<div class="aliados-section align-items-center d-none d-md-flex">
  <div class="aliados-title d-flex align-items-center justify-content-end">
    <div>
      <h2>{{'home.page.allies' | translate}}</h2>
    </div>
  </div>
  <div class="aliados-logos">
    <a href="https://repositoriosdigitales.mincyt.gob.ar/vufind/" target="_blank">
      <img src="assets/custom/images/SNRD.png" alt="SNRD Logo">
    </a>
    <a href="https://www.lareferencia.info/es/" target="_blank">
      <img src="assets/custom/images/La referencia.png" alt="La Referencia Logo">
    </a>
    <a href="https://coar-repositories.org/" target="_blank">
      <img src="assets/custom/images/COAR.png" alt="COAR Logo">
    </a>
  </div>
</div>
