div.row.container {
  margin-right: auto;
  margin-left: auto;
}

.destacado {

  .col-6,
  .col-md-3 {
    display: flex;
  }

  .collection-card {
    display: flex;
    padding: 1.2rem 0.7rem 1.2rem 0.7rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 4px 12px 3px rgba(131, 127, 127, 0.46);
    height: 100%;
    width: 100%;
    
    &:hover {
      background-color: var(--sedici-color);
      color: white;
      
      .text-container {
        span, .subtitle {
          color: white;
        }
      }
      
      .icon-container .hover-image {
        display: block;
      }
      
      .icon-container .default-image {
        display: none;
      }
    }
    
    .icon-container {
      margin-bottom: 10px;
      
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;

        @media (max-width: 991px) {
          width: 30px;
          height: 30px;
        }
      }

      .hover-image {
        display: none;
      }
    }

    .linea-vertical {
      width: 1px;
      min-width: 1px;
      flex-shrink: 0;
      height: 3.5rem;
      background-color: #a1a5a8;
      margin: 0 15px;

      @media (max-width: 991px) {
        margin: 10px;
      }
    }
    
    .text-container {
      span {
        font-size: 1.3125rem;
        margin-bottom: 0;

        @media (max-width: 991px) {
          font-size: clamp(1rem, 2.5vw, 1.1rem);
        }
      }

      .subtitle {
        font-size: 0.9rem;
        color: #929292;
        margin: 0;
        line-height: 1;

        @media (max-width: 991px) {
          font-size: clamp(0.7rem, 2.5vw, 0.8rem);
        }
        
      }
    }
  }

  a {
    color: inherit;
    display: flex; 
    height: 100%; 
    width: 100%; 

    &:hover {
      text-decoration: none;
    }
  }
  
  // Estilo para dispositivos medianos y grandes (horizontal)
  @media (min-width: 768px) {
    .collection-card {     
      .icon-container {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 991px) {
    .collection-card {     
      padding: 0.4rem 0.8rem;
    }
  }
    

  // Estilo para dispositivos móviles (grid 2x2) con ícono a la derecha
  @media (max-width: 767px) {
    .collection-card {     
      height: 100%;
      align-items: center;
      width: 100%;
      
      .icon-container {
        margin-bottom: 0;
        
        img {
          width: 25px;
          height: 25px;
        }
      }
      
      .text-container {
        span {
          font-size: 1rem;
        }

        .subtitle {
          font-size: 0.7rem;
        }
      }
    }
  }
}

.help {
  padding: 3rem 8rem;
  background-color: #52525E;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    flex-direction: row;
    padding: 1rem;
    gap: clamp(1rem, 2vw, 3rem);
    box-shadow: 0 -5px rgba(0,0,0,0.1);
  }

  img {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 3.8rem;
    height: 3.8rem;

    @media screen and (max-width: map-get($grid-breakpoints, md)) {
      margin-bottom: 0;
      max-width: 2.5rem;
    }
  }

  .help-text {
    font-size: 1.2rem;
    color: white;

    @media screen and (max-width: map-get($grid-breakpoints, md)) {
      font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    }
  }
}

.projects-container {
  margin: 1.5rem 0 1rem;

  .title-container {
    display: flex;
    justify-content: center;
    font-size: 2rem;

    .explorar-text {
      color: #999;
      margin-right: 0.5rem;
    }
    
    .section-title {
      font-weight: var(--font-weight-bold);
      margin: 0;
    }
  }

  .projects-section {
    display: flex;
    height: 175px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

    a img {
      min-width: 150px;
      width: 100%;
      max-width: 250px;
    }
  }

  @media screen and (max-width: 1300px) {
    .title-container {
      font-size: 1.5rem;
      padding-left: 5%;
    }

    .projects-section {
      justify-content: flex-start;
      overflow-x: auto;
      flex-wrap: nowrap;
      gap: 3rem;
      padding: 0 1rem;

      a img {
        max-width: 150px;
        max-height: 75px;
      }
    }
  }
}