<ds-home-news></ds-home-news>
@if (showDiscoverFilters) {
  <ds-configuration-search-page
    [sideBarWidth]="3"
    [showViewModes]="false"
    [searchEnabled]="false"
    [inPlaceSearch]="false"
    [showScopeSelector]="false">
    <ng-container searchContentTop *ngTemplateOutlet="homeContent"></ng-container>
  </ds-configuration-search-page>
}
@if (!showDiscoverFilters) {
  <div>
    <ng-container *ngTemplateOutlet="homeContent"></ng-container>
  </div>
}
<ds-suggestions-popup></ds-suggestions-popup>

<ng-template #homeContent>
  <div class="destacado">
    <div class="row container">
      @for (item of exploraciones; track item) {
        <div class="col-6 col-md-3 mb-4">
          @if (item.href.startsWith('/handle')) {
            <a [href]="item.href">
              <div class="collection-card">
                <div class="icon-container">
                  <img class="default-image" [src]="item.img" alt="{{'home.page.' + item.title | translate}}">
                  <img class="hover-image" [src]="getHoverImageSrc(item.img)" alt="{{'home.page.' + item.title | translate}}">
                </div>
                <div class="text-container">
                  <span>{{'home.page.' + item.title | translate}}</span>
                </div>
              </div>
            </a>
          } @else {
            <a [routerLink]="item.href" [queryParams]="item.queryParams || {}">
              <div class="collection-card">
                <div class="icon-container">
                  <img class="default-image" [src]="item.img" alt="{{'home.page.' + item.title | translate}}">
                  <img class="hover-image" [src]="getHoverImageSrc(item.img)" alt="{{'home.page.' + item.title | translate}}">
                </div>
                <div class="text-container">
                  <span>{{'home.page.' + item.title | translate}}</span>
                </div>
              </div>
            </a>
          }
        </div>
      }
    </div>
  </div>
</ng-template>

<comcol-grid></comcol-grid>

<div class="help text-center d-flex flex-column flex-md-row justify-content-around align-items-center">
  <div class="p-2">
    <img src="assets/custom/images/ayuda.svg" alt="{{'home.page.researcherHelp' | translate}}">
    <h5>{{'home.page.researcherHelp' | translate}}</h5>
  </div>
  <div class="p-2">
    <img src="assets/custom/images/obligacion.svg" alt="{{'home.page.depositionObligation' | translate}}">
    <h5>{{'home.page.depositionObligation' | translate}}</h5>
  </div>
  <div class="p-2">
    <img src="assets/custom/images/stats.svg" alt="{{'home.page.growthStatistics' | translate}}">
    <h5>{{'home.page.growthStatistics' | translate}}</h5>
  </div>
</div>

<div class="projects-container">
  <h2 class="d-none d-md-flex">Nuestros proyectos</h2>
  <div class="projects-section d-none d-md-flex">
    <a href="https://sitios.sedici.unlp.edu.ar/" target="_blank">
      <img src="assets/custom/images/logoSITIOS_positivo.svg" alt="Sitios UNLP Logo" style="min-width: 250px;">
    </a>
    <a href="https://libros.unlp.edu.ar/index.php/unlp" target="_blank">
      <img src="assets/custom/images/logoLIBROS.png" alt="Portal de libros UNLP Logo">
    </a>
    <a href="https://congresos.unlp.edu.ar/" target="_blank">
      <img src="assets/custom/images/logoCONGRESOS_positivo.svg" alt="Portal de congresos UNLP Logo" style="min-width: 250px;">
    </a>
    <a href="https://portalderevistas.unlp.edu.ar/" target="_blank">
      <img src="assets/custom/images/logoREVISTAS.png" alt="Portal de revistas UNLP Logo">
    </a>
    <a href="https://hera.sedici.unlp.edu.ar/" target="_blank">
      <img src="assets/custom/images/HERA.png" alt="HERA Logo">
    </a>
  </div>
</div>
