<ds-home-news></ds-home-news>
@if (showDiscoverFilters) {
<ds-configuration-search-page [sideBarWidth]="3" [showViewModes]="false" [searchEnabled]="false" [inPlaceSearch]="false"
  [showScopeSelector]="false">
</ds-configuration-search-page>
}

<ds-suggestions-popup></ds-suggestions-popup>



<comcol-grid></comcol-grid>

<!-- SEDICI: se comenta porque se pasó debajo de la barra de búsqueda principal -->
<!-- <div class="help flex-md-row">
  <div class="p-2">
    <img src="assets/custom/images/ayuda.svg" alt="{{'home.page.researcherHelp' | translate}}">
    <div class="help-text">{{'home.page.researcherHelp' | translate}}</div>
  </div>
  <div class="p-2">
    <img src="assets/custom/images/obligacion.svg" alt="{{'home.page.depositionObligation' | translate}}">
    <div class="help-text">{{'home.page.depositionObligation' | translate}}</div>
  </div>
  <div class="p-2">
    <img src="assets/custom/images/stats.svg" alt="{{'home.page.growthStatistics' | translate}}">
    <div class="help-text">{{'home.page.growthStatistics' | translate}}</div>
  </div>
</div> -->

<div class="projects-container d-md-block">
  <div class="projects-section">
    <a href="https://sitios.sedici.unlp.edu.ar/"  style="background-color: #17162B;" target="_blank">
      <img src="assets/custom/images/bloque_sitios.svg" alt="Sitios UNLP Logo">
    </a>
    <a href="https://libros.unlp.edu.ar/index.php/unlp"  style="background-color: #186978;" target="_blank">
      <img src="assets/custom/images/bloque_libros.svg" alt="Portal de libros UNLP Logo">
    </a>
    <a href="https://congresos.unlp.edu.ar/"  style="background-color: #7E1C7D;" target="_blank">
      <img src="assets/custom/images/bloque_congresos.svg" alt="Portal de congresos UNLP Logo">
    </a>
    <a href="https://portalderevistas.unlp.edu.ar/"  style="background-color: #E5E5E5;" target="_blank">
      <img src="assets/custom/images/bloque_revistas.svg" alt="Portal de revistas UNLP Logo">
    </a>
    <a href="https://hera.sedici.unlp.edu.ar/"  style="background-color: #EF7D69;" target="_blank">
      <img src="assets/custom/images/bloque_hera.svg" alt="HERA Logo">
    </a>
  </div>
</div>