@media screen and (min-width: map-get($grid-breakpoints, md))  {
  .community-logo-content-container {
    display: flex;

    .community-text {
      flex: 1;
    }
  } 
}

@media screen and (max-width: 768px) {
    .gradient-image-container {
      img {
        max-width: 100%;
      }
    }
}