@media screen and (min-width: map-get($grid-breakpoints, md))  {
  .community-logo-content-container {
    display: flex;

    .community-text {
      flex: 1;
    }
  } 
}

@media screen and (max-width: 768px) {
    .gradient-image-container {
      img {
        max-width: 100%;
      }
    }
}

// LISTADO DE ESTILOS MODIFICADOS A RAÍZ DEL COLOR DE LA UNIDAD ACADÉMICA SELECCIONADA

// Flechas de sub-community-list
::ng-deep .fa-chevron-right, ::ng-deep .fa-chevron-down {
  color: var(--default-color, rgb(33, 37, 41));
}

// Badges de cantidad de ítems por autor
::ng-deep .badge.rounded-pill {
  background-color: var(--default-color, rgb(73, 80, 87)) !important;
}